.negrita {
    font-weight: bold;
}

.italica {
    font-style: italic;
}

.enlace_señalado {
    color: black;
    font-weight: bold;
}

#primero img {
    margin-top: 4vw;
    margin-bottom: 4vw;
    border-radius: 1vw;
    width: 100%;
}

aside {
    width: 50vw;
    margin-left: 25vw;
}