html {
    scroll-behavior: smooth;
    cursor: url("../IMG/cursor_normal2.png"), auto;
}

body {
    image-rendering: pixelated;
    margin: 0;
    background-image: url("../IMG/mountainsBg.png");
    background-size: cover;
    font-family: 'Consolas';
    background-attachment: fixed;
    overflow-x: hidden;
}

#GRAN_DIV {
    width: 100vw;
    height: 100vh;
}

a {
    cursor: url("../IMG/cursor_pulsar2.png"), auto;
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
}

header{
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    img {
        width: 40vw;
    }
    div {
        img{
            width: 10vw;
            margin-left: 1vw;
            margin-right: 1vw;
            transition: 0.1s;
        }
        img:hover {
            filter: brightness(50%);
            transition: 0.1s;
            cursor: url("../IMG/cursor_pulsar2.png"), auto;
        }
        display: flex;
        justify-content:center;
    }
}

footer {
    font-size: 10px;
    padding: 0.5vw;
    bottom: 0;
    text-align: center;
    color: aliceblue;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

aside {
    position: absolute;
    margin-top: 11vw;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    width: 86vw;
    margin-left: 6vw;
    padding: 1vw;
    border-radius: 1vw;
    color: aliceblue;
    font-size: 2.5vw;
}

#contenedor {
    position: absolute;
    margin-top: 18vw;
    width: 82%;
    margin-left: 5vw;
    background-color: rgba(255,255,255,0.6);
    border-radius: 1vw;
    padding: 4vw;
    text-align: justify;
}

section {
    margin-top: 10vw;
    
}

p {
    font-size: 3.3vw;
}

#primero {
    margin-top: 0;
}

/* Vista de Tablet */
@media only screen and (min-width: 768px) {
   
    aside a {
        font-size: 2vw;
    }

    #contenedor {
        margin-top: 17vw;
    }

    p, a{
        font-size: 1.5vw;
    }
    
    h1 {
        font-size: 3vw;
    }

}

/* Vista de Pantallas más grandes */
@media only screen and (min-width: 1024px) {
  
    header img {
        width: 30vw;
    }

    aside {
        margin-top: 9vw;
        a {
            font-size: 1.6vw;
        }
    }

    #contenedor {
        margin-top: 15vw;
    }

}

