html {
    scroll-behavior: smooth;
    cursor: url("../IMG/cursor_normal2.png"), auto;
}

body {
    image-rendering: pixelated;
    margin: 0;
    background-image: url("../IMG/mountainsBg.png");
    background-size: cover;
    font-family: 'Consolas';
    background-attachment: fixed;
    overflow-x: hidden;
}

#GRAN_DIV {
    width: 100vw;
    height: 100vh;
}

a {
    cursor: url("../IMG/cursor_pulsar2.png"), auto;
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
}

header{
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    img {
        width: 40vw;
    }
    div {
        img{
            width: 10vw;
            margin-left: 1vw;
            margin-right: 1vw;
            transition: 0.1s;
        }
        img:hover {
            filter: brightness(50%);
            transition: 0.1s;
            cursor: url("../IMG/cursor_pulsar2.png"), auto;
        }
        display: flex;
        justify-content:center;
    }
}

aside {
    position: absolute;
    margin-top: 11vw;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    width: 86vw;
    margin-left: 6vw;
    padding: 1vw;
    border-radius: 1vw;
    color: aliceblue;
    font-size: 2.5vw;
}

#contenedor {
    position: absolute;
    margin-top: 18vw;
    width: 83vw;
    margin-left: 3vw;
    background-color: rgba(255,255,255,0.6);
    border-radius: 1vw;
    padding: 4vw;
    text-align: justify;
}

section {
    margin-top: 10vw;
}

#primero {
    margin-top: 0;
}


/* Vista de Tablet */
@media only screen and (min-width: 768px) {
    header img {
        width: 300px;
        div img {
            width: 90px;
            margin-left: 1vw;
            margin-right: 1vw;
            transition: 0.1s;
        }
    }

    #aside{
        width: 400px;
       }

    #contenedor {
        width: 70vw;
        margin-left: 15vw;
    }
}

/* Vista de Pantallas más grandes */
@media only screen and (min-width: 1024px) {
    header img {
        width: 400px;
        div img {
            width: 100px;
        }
    }

   #GranDiv {
    text-align: center;
    aside{ 
    width: 600px;
    font-size: 25px;
    }
   }

    #contenedor {
        width: 60vw;
        margin-left: 20vw;
    }
}

